.main{
    width: 100%
}
#p1{
    height: 5000px;
}
#warplane{
    margin-top: 500px;
    width:100%;
}
#warship{
    margin-top: 500px;
}
.text1class{
    width: 25%;
}
.planecontainer{
    flex-wrap: nowrap;
    justify-content: center;
}
.text2class{
    width: 25%;
}
