.main{
    width: 80%;
    margin-left: 10%;
}



#warplane{
    margin-top: 500px;
    width:100%;
    background: rgb(27, 117, 4);
}
.main-container-plane1{
    margin-top: 50px;
}





#warship{
    margin-top: 500px;
}

